@media screen and (max-width: 576px) {
    #login-select-mk-logo{
        width: 350px;
        margin-bottom: 4rem;
      }

    .login-select-btn{
        margin-bottom: 1.5rem;
    } 
}

@media screen and (max-width: 410px) {
    #login-select-mk-logo{
        width: 300px;
        margin-bottom: 4rem;
      }

    .login-select-btn{
        margin-bottom: 1rem;
        font-size: .75rem;
    } 
}

@media screen and (max-width: 900px) {
#admin-big-key{
    width:350px;
    }
}


@media screen and (max-width: 767px) {
    #admin-big-key{
        width:150px;
    }

    .p-5{
        padding:0 !important;
    }
}

@media screen and (max-width: 600px) {
    #admin-big-key{
        width:100px;
    }
    .pt-5{
        padding:0 !important;
    }

    .pb-5{
        padding:0 !important;
    }

}

